@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}body::-webkit-scrollbar {
  display: none;
}

/* 1. 隱藏捲軸但仍可滑動 */
.scrollbar-hidden {
  -ms-overflow-style: none; /* for IE and Edge */
  scrollbar-width: none;    /* for Firefox */
}
.scrollbar-hidden::-webkit-scrollbar {
  display: none;            /* for Chrome, Safari, and Opera */
}

/* 2. Tailwind - 自定義漸層背景 */
.my-bg-gradient {
  @apply bg-gradient-to-b from-[#F9F9F9] to-slate-50 rounded-t-3xl;
}

/* 3. Tailwind - 強制改Swiper - Pagination 顏色*/
.swiper-pagination-bullet-active {
  @apply bg-[#FE9900] !important
}